
body {
    background-color: #F4F4F4;
    padding: 1rem 1.25rem ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    max-height: 1000px;
}

.app-heading {
    font-size:larger;
    font-weight: 600;
}
.card_layout {

}
.file {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #FFFFFF;
    padding: 1rem 1.25rem;
    margin: 1rem auto;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: space-evenly;
}

.table_parent {
    background-color: #FFFFFF;
    max-height: 400px;
    position: relative;
    padding: 1rem 1.25rem;
    margin: 1rem auto;
    border: #EEEEEE;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.2);
    transition: all 0.3s linear;
    /* display: flex;
    justify-content: center; */
}

.switch {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.table th {
    position: sticky;
    top:0;
}
.table td {
    text-align: center;
    border-bottom: 2px solid rgb(183, 180, 180,0.5);
}
.btn {
    border-radius: 6px;
    border: 3px solid black;
    backface-visibility: hidden;
    color: black;
    font-size:medium;
    font-weight: 400;
}
.btn:hover {
    background-color: #F4F4F4;
    color: black;
}
.btn:active {
    background-color: #F4F4F4;
}


#newtable {
    width: 60px;
    height: 30px;
}

span {
    font-size: medium;
    text-align:end;
    padding-left: 1rem;
    padding-right: 1rem;
}

.input-group label{
    font-size: small;
}